[mariadb]
port=3320
socket=/tmp/mysqld3320.sock
plugin_maturity=experimental
plugin_load_add=ha_monograph
monograph
monograph_core_num=1
monograph_kv_storage=cass
monograph_cass_hosts=127.0.0.1
monograph_cass_user=cassandra
monograph_cass_password=cassandra
monograph_local_ip=127.0.0.1:8000
monograph_ip_list=127.0.0.1:8000
monograph_keyspace_name=mono_test
