#my-cnf0
#This configuration is used in for single node instance and bootstrap.
[mariadb]
plugin_maturity=experimental
datadir=/Users/tianxj/workspace/mariadb-data/data-template/
lc_messages_dir=/Users/tianxj/workspace/mariadb-bin/share/
max_connections=500
skip-log-bin
port=3320
socket=/tmp/mysqld3320.sock
plugin_load_add=ha_monograph
monograph
monograph_cass_hosts=127.0.0.1
monograph_core_num=1
monograph_cass_user=cassandra
monograph_cass_password=cassandra
monograph_local_ip=127.0.0.1:8000
monograph_ip_list=127.0.0.1:8000
