[mariadb]
port=3320
socket=/tmp/mysqld3320.sock
plugin_maturity=experimental
datadir=/home/ubuntu/workspace/mariadb-data/data-template/
lc_messages_dir=/home/ubuntu/workspace/mariadb-bin/share/
plugin_load_add=ha_monograph
monograph
monograph_core_num=6
monograph_kv_storage=cass
monograph_cass_hosts=172.31.43.213
monograph_cass_user=cassandra
monograph_cass_password=cassandra
monograph_local_ip=172.31.38.99:8000
monograph_ip_list=172.31.38.99:8000
monograph_keyspace_name=mono
monograph_cc_protocol=OCC
transaction_isolation=READ-COMMITTED
monograph_enable_mvcc=off
#monograph_checkpointer_interval_sec=86400
monograph_checkpointer_interval_sec=10
monograph_node_memory_limit_mb=8192
#monograph_txlog_service_list=172.31.47.86:8001,172.31.25.183:8001,172.31.9.230:8001,172.31.47.86:8002,172.31.25.183:8002,172.31.9.230:8002,172.31.47.86:8003,172.31.25.183:8003,172.31.9.230:8003
#monograph_txlog_service_list=172.31.47.86:8001,172.31.47.86:8002,172.31.47.86:8003
#monograph_txlog_group_replica_num=1
#monograph_txlog_service_list=172.31.47.86:8002,172.31.25.183:8002,172.31.9.230:8002
